In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix

%matplotlib inline

In [2]:
!ls

test.csv  Untitled.ipynb  val_ground_truth.csv	val_prediction.csv

In [3]:
df_train = pd.read_csv('../../../train.csv')

df_true = pd.read_csv('val_ground_truth.csv')
df_pred = pd.read_csv('val_prediction.csv')

In [4]:
df_merge = pd.merge(df_true, df_pred, on='image_id')
df_merge

,image_id,grapheme_root_x,vowel_diacritic_x,consonant_diacritic_x,grapheme,grapheme_root_y,vowel_diacritic_y,consonant_diacritic_y
0,Train_0,15,9,5,ক্ট্রো,15,9,5
1,Train_3,53,2,2,র্টি,53,2,2
2,Train_7,139,3,0,ষী,139,3,0
3,Train_8,67,0,0,ত্থ,67,0,0
4,Train_12,74,1,2,র্দ্দা,74,1,2
...,...,...,...,...,...,...,...,...
33469,Train_200813,22,7,2,র্খে,22,7,2
33470,Train_200817,64,7,5,ত্রে,64,7,5
33471,Train_200824,147,3,0,সী,147,3,0
33472,Train_200828,38,2,0,চি,38,2,0
33473,Train_200837,2,1,4,অ্যা,2,1,4

In [5]:
gr_root_lbld = dict(df_train['grapheme_root'].value_counts())
gr_root_lbld

{72: 5736,
 64: 5596,
 13: 5420,
 107: 5321,
 23: 5149,
 96: 4926,
 113: 4395,
 147: 4392,
 133: 4374,
 115: 4015,
 53: 3690,
 43: 3630,
 103: 3461,
 79: 3458,
 81: 3438,
 38: 3354,
 159: 3281,
 22: 2961,
 71: 2936,
 29: 2780,
 56: 2688,
 149: 2402,
 59: 2339,
 89: 2313,
 122: 2313,
 139: 2312,
 150: 2311,
 124: 2188,
 86: 2094,
 123: 2073,
 42: 1957,
 76: 1936,
 141: 1746,
 148: 1723,
 55: 1680,
 18: 1633,
 167: 1585,
 153: 1553,
 91: 1539,
 119: 1537,
 117: 1531,
 74: 1518,
 83: 1418,
 48: 1376,
 65: 1365,
 85: 1363,
 58: 1285,
 151: 1248,
 120: 1207,
 165: 1142,
 118: 1139,
 25: 1127,
 75: 1127,
 32: 1127,
 92: 1116,
 15: 1083,
 101: 1083,
 142: 1067,
 44: 1057,
 136: 1051,
 132: 1039,
 36: 1024,
 129: 978,
 94: 973,
 70: 957,
 77: 957,
 128: 952,
 21: 942,
 16: 940,
 52: 935,
 138: 934,
 155: 928,
 127: 927,
 109: 908,
 112: 886,
 140: 883,
 62: 868,
 125: 813,
 14: 796,
 156: 790,
 111: 787,
 66: 786,
 31: 768,
 17: 761,
 88: 760,
 28: 759,
 40: 757,
 69: 757,
 106: 751,
 50: 738,
 154: 732,
 95: 727,
 135: 637,
 57: 633,
 68: 631,
 98: 627,
 90: 627,
 134: 623,
 93: 622,
 39: 617,
 144: 612,
 143: 609,
 152: 607,
 54: 592,
 46: 580,
 61: 575,
 137: 562,
 97: 481,
 160: 480,
 35: 476,
 67: 475,
 162: 465,
 121: 462,
 84: 460,
 99: 458,
 80: 456,
 47: 452,
 100: 448,
 9: 444,
 131: 443,
 30: 437,
 116: 436,
 60: 426,
 110: 342,
 2: 337,
 24: 336,
 20: 336,
 4: 331,
 51: 326,
 157: 324,
 49: 321,
 3: 318,
 145: 317,
 161: 311,
 6: 308,
 166: 307,
 27: 305,
 41: 305,
 146: 302,
 78: 293,
 82: 292,
 37: 285,
 19: 278,
 34: 276,
 5: 175,
 26: 171,
 87: 168,
 163: 165,
 164: 164,
 104: 160,
 126: 159,
 108: 158,
 8: 157,
 7: 153,
 10: 152,
 105: 151,
 11: 151,
 114: 150,
 63: 149,
 0: 147,
 12: 146,
 1: 145,
 45: 144,
 130: 144,
 158: 143,
 102: 141,
 33: 136,
 73: 130}

In [6]:
df_gr_confused = df_merge[df_merge['grapheme_root_x'] != df_merge['grapheme_root_y']][['grapheme_root_x', 'grapheme_root_y']]
df_gr_confused

       grapheme_root_x  grapheme_root_y
364                113               71
372                 63               92
490                 20              138
512                 62               85
517                 74               72
...                ...              ...
33140               21               13
33149              147              115
33265              122               71
33307               89               86
33425              110              109

[420 rows x 2 columns]

In [7]:
gr_root_confused_lbld = dict(df_gr_confused['grapheme_root_x'].value_counts())

In [8]:
gr_root_confused_lbld.keys()

dict_keys([62, 113, 59, 81, 107, 64, 148, 79, 84, 140, 29, 23, 122, 147, 96, 115, 71, 25, 141, 116, 117, 89, 83, 120, 86, 36, 149, 42, 70, 85, 38, 91, 76, 56, 63, 13, 31, 133, 153, 152, 6, 150, 110, 155, 159, 142, 135, 46, 72, 54, 52, 144, 145, 151, 20, 22, 9, 156, 32, 16, 119, 118, 162, 18, 93, 27, 3, 53, 37, 43, 51, 39, 55, 92, 57, 95, 65, 106, 68, 139, 109, 19, 132, 58, 88, 90, 30, 17, 11, 28, 21, 12, 167, 35, 103, 161, 128, 125, 121, 108, 105, 104, 98, 41, 165, 77, 74, 67, 61, 60, 44, 2])

In [9]:
gr_root_confused_lbld

{62: 20,
 113: 15,
 59: 12,
 81: 11,
 107: 10,
 64: 9,
 148: 9,
 79: 8,
 84: 8,
 140: 8,
 29: 8,
 23: 7,
 122: 7,
 147: 7,
 96: 7,
 115: 7,
 71: 7,
 25: 6,
 141: 6,
 116: 6,
 117: 6,
 89: 6,
 83: 6,
 120: 6,
 86: 5,
 36: 5,
 149: 5,
 42: 5,
 70: 5,
 85: 4,
 38: 4,
 91: 4,
 76: 4,
 56: 4,
 63: 4,
 13: 4,
 31: 4,
 133: 4,
 153: 4,
 152: 4,
 6: 4,
 150: 4,
 110: 4,
 155: 4,
 159: 4,
 142: 3,
 135: 3,
 46: 3,
 72: 3,
 54: 3,
 52: 3,
 144: 3,
 145: 3,
 151: 3,
 20: 3,
 22: 3,
 9: 3,
 156: 3,
 32: 3,
 16: 3,
 119: 3,
 118: 3,
 162: 3,
 18: 3,
 93: 3,
 27: 2,
 3: 2,
 53: 2,
 37: 2,
 43: 2,
 51: 2,
 39: 2,
 55: 2,
 92: 2,
 57: 2,
 95: 2,
 65: 2,
 106: 2,
 68: 2,
 139: 2,
 109: 2,
 19: 2,
 132: 2,
 58: 2,
 88: 2,
 90: 2,
 30: 2,
 17: 1,
 11: 1,
 28: 1,
 21: 1,
 12: 1,
 167: 1,
 35: 1,
 103: 1,
 161: 1,
 128: 1,
 125: 1,
 121: 1,
 108: 1,
 105: 1,
 104: 1,
 98: 1,
 41: 1,
 165: 1,
 77: 1,
 74: 1,
 67: 1,
 61: 1,
 60: 1,
 44: 1,
 2: 1}

In [10]:
df_gr_confused[df_gr_confused['grapheme_root_x'] == 62]

       grapheme_root_x  grapheme_root_y
512                 62               85
1069                62               85
2724                62               86
4774                62               85
8553                62               85
13411               62               85
13996               62               85
14444               62               85
14868               62               65
17991               62               86
21101               62               85
22239               62               25
24667               62               85
25146               62               85
25720               62               85
26287               62               86
27000               62               85
31818               62               85
32036               62               85
32764               62               85

In [11]:
gr_root_lbld[62], gr_root_confused_lbld[62]

(868, 20)

In [53]:
df_gr_confused[df_gr_confused['grapheme_root_x'] == 113]

       grapheme_root_x  grapheme_root_y
364                113               71
2821               113               43
9766               113               56
10047              113               56
11060              113               56
12196              113               64
16263              113               56
17675              113               85
18734              113               56
21481              113              165
22719              113               31
23869              113               70
30498              113               56
30529              113               56
32530              113               31

In [54]:
gr_root_lbld[113], gr_root_confused_lbld[113]

(4395, 15)

In [12]:
df_pseudo = pd.read_csv('../synth_predictions.csv')

In [14]:
df_pseudo[df_pseudo['grapheme_root'] == 113]

             image_id  grapheme_root  vowel_diacritic  consonant_diacritic
50      cust_1_183469            113                0                    0
152     cust_1_312413            113                0                    0
180     cust_1_360075            113                2                    0
186     cust_1_308051            113                1                    0
196       cust_1_9418            113                3                    0
...               ...            ...              ...                  ...
407628  cust_1_395267            113                0                    0
407630  cust_1_278899            113                0                    0
407674  cust_1_310887            113                0                    0
407744  cust_1_305157            113                0                    0
407768  cust_1_354814            113                0                    0

[6718 rows x 4 columns]

In [22]:
get_psd = lambda x: df_pseudo[df_pseudo['grapheme_root'] == x].shape[0]

In [25]:
for i in gr_root_confused_lbld.keys():
    print (i, get_psd(i))

62 745
113 6718
59 28880
81 15853
107 13603
64 15026
148 651
79 3138
84 71
140 246
29 1154
23 10210
122 9426
147 11963
96 14272
115 9282
71 1748
25 56
141 86
116 43
117 3088
89 901
83 342
120 182
86 443
36 567
149 432
42 2953
70 215
85 381
38 6324
91 162
76 20
56 4657
63 45
13 27127
31 1849
133 7207
153 6412
152 30
6 1407
150 3046
110 54
155 107
159 11803
142 36
135 74
46 415
72 8398
54 60
52 497
144 301
145 20
151 941
20 3
22 3109
9 1073
156 465
32 1788
16 111
119 174
118 16
162 12
18 121
93 196
27 184
3 2697
53 7498
37 318
43 10467
51 56
39 39
55 2338
92 154
57 188
95 3841
65 524
106 3
68 92
139 2567
109 231
19 0
132 42
58 3983
88 139
90 54
30 7
17 11
11 714
28 5
21 250
12 19
167 16037
35 375
103 5325
161 1777
128 243
125 1358
121 5
108 12
105 1204
104 169
98 141
41 0
165 7357
77 6
74 24
67 193
61 339
60 38
44 1429
2 2402

In [50]:
get_indx = lambda x: df_pseudo[df_pseudo['grapheme_root'] == x].index.values

In [51]:
get_indx(63)

array([ 19827,  23715,  52189,  55488,  55730,  56025,  59766,  70654,
        70897,  76127,  83488,  84678,  90259, 104788, 113157, 113233,
       142438, 179410, 187355, 260220, 262737, 263684, 284128, 286413,
       298009, 305887, 310446, 313367, 317554, 322831, 335446, 336717,
       338136, 346026, 351488, 354808, 358855, 361379, 369000, 384480,
       386673, 387706, 389576, 394768, 405399])

In [52]:
np.concatenate(set([get_indx(i) for i in gr_root_confused_lbld.keys()]))

TypeError: unhashable type: 'numpy.ndarray'